/.vs
/RatesMonitor.Core/bin
/RatesMonitor.Core/obj
/RatesMonitor.DailyUpdater/bin
/RatesMonitor.DailyUpdater/obj
/TestPrototype/bin
/TestPrototype/obj
/RatesMonitor.YearUpdater/bin
/RatesMonitor.YearUpdater/obj
/RatesMonitor.WebApi/bin
/RatesMonitor.WebApi/obj
